.u-section-1 .u-sheet-1 {
  min-height: 900px;
}

.u-section-1 .u-form-1 {
  height: 409px;
  margin: 128px 238px 0 332px;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    margin-right: 138px;
    margin-left: 232px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    margin-right: 28px;
    margin-left: 122px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    margin-right: 0;
    margin-left: 0;
  }
}